.idea
atlassian-ide-plugin.xml
build
cmake-build-debug
sprinklers_pi

# Flutter/Dart specific
mobile/.dart_tool/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/build/
mobile/.pub-cache/
mobile/.pub/
mobile/coverage/
mobile/.metadata
mobile/android/app/debug.keystore
mobile/android/app/key.properties
mobile/ios/Pods/
mobile/ios/.symlinks/
mobile/ios/Flutter/Flutter.podspec
mobile/ios/Flutter/Generated.xcconfig
mobile/ios/Flutter/flutter_export_environment.sh